<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tenant Management</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">


    <style>
        .custumTBal {
            width: 80%;
            margin: 50px auto;
        }

        .custumTBal .table {
            width: 100%;
            margin: -8px auto 0;
        }

        .custumTBal .table tbody {
            width: 100%;
            border: 0 solid black;
            background-color: white;
        }

        .custumTBal .headingH h1 {
            font-size: 37px;
            line-height: 46px;
            color: #000;
            text-align: center;
            background: #f5e625 !important;
            padding: 15px 10px;
            border: 3px solid #d7d2d2;
        }

        .custumTBal .headingH h1 span {
            flex: none;
            text-align: center;
            margin: 0 auto;
        }

        .custumTBal .headingH h1 a {
            color: #060505;
            text-decoration: none;
            background-color: transparent;
            font-size: 18px;
        }

        .custumTBal .table td,
        .custumTBal .table th {
            padding: 10px;
            vertical-align: middle;
            border: 1px solid #121416;
            width: 20%;
        }

        .custumTBal .table h4 {
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
            margin: 0;
        }

        img {
            width: 10%;
        }

        .thumbnail {
            width: 200px;
            /* Set your thumbnail size */
            transition: transform 0.3s;
            /* Smooth transition */
        }

        .thumbnail:hover {
            transform: scale(1.2);
            /* Enlarge image on hover */
        }

        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9);
            /* Black w/ opacity */
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            /* Width of the enlarged image */
            max-width: 700px;
            /* Max width */
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: white;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <%- include("./partials/header2.ejs") %>
        <div class="custumTBal">
            
            <table class="table">
                <tbody>
                    <div class="headingH">
                        <h1 class="d-flex">
                            <a href="/dashboard">
                                <i class="fa fa-arrow-left">

                                </i>
                            </a>
                            <span>Tenant Details</span>
                        </h1>
                    </div>
                    <tr>
                        <td>
                            <h4>Name:</h4>
                        </td>
                        <td>
                            <h4>
                                <%=att.name%>
                            </h4>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h4>DOB:</h4>
                        </td>
                        <td>
                            <h4>
                                <%=att.dob%>
                            </h4>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h4>Profession:</h4>
                        </td>
                        <td>
                            <h4>
                                <%=att.profession%>
                            </h4>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h4>Room No.:</h4>
                        </td>
                        <td>
                            <h4>
                                <%=att.roomNo%>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Join Date:</h4>
                        </td>
                        <td>
                            <h4>
                                <%=att.joinDate%>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Rent:</h4>
                        </td>
                        <td>
                            <h4>
                                <%=att.rent%>
                            </h4>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h4>Status:</h4>
                        </td>
                        <td>
                            <h4>
                                <%=att.status%>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Profile Image:</h4>
                        </td>
                        <td>
                            <h4>
                                <img src="<%= baseUrl %><%=att.profilePhoto%>" alt="Image" class="thumbnail"
                                    id="thumbnail">
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>ID Proof:</h4>
                        </td>
                        <td>
                            <h4>
                                <img src="http://localhost:3050/<%=att.idProof%>" alt="Image" class="thumbnail"
                                    id="thumbnail">
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <%- include("./partials/footer.ejs") %>
</body>

</html>